<%= form_for([@pre_existing_condition.patient, @pre_existing_condition]) do |f| %>
  <% if @pre_existing_condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pre_existing_condition.errors.count, "error") %> prohibited this pre_existing_condition from being saved:</h2>

      <ul>
      <% @pre_existing_condition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :diabetes %><br />
    <%= f.check_box :diabetes %>
  </div>
  <div class="field">
    <%= f.label :hypertension %><br />
    <%= f.check_box :hypertension %>
  </div>
  <div class="field">
    <%= f.label :asthma %><br />
    <%= f.check_box :asthma %>
  </div>
  <div class="field">
    <%= f.label :patient %><br />
    <%= f.text_field :patient %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
