<h1>Listing drug_allergies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Patient</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drug_allergies.each do |drug_allergy| %>
  <tr>
    <td><%= drug_allergy.name %></td>
    <td><%= drug_allergy.patient %></td>
    <td><%= link_to 'Show', [drug_allergy.patient, drug_allergy] %></td>
    <td><%= link_to 'Edit', edit_patient_drug_allergy_path(drug_allergy.patient, drug_allergy) %></td>
    <td><%= link_to 'Destroy', [drug_allergy.patient, drug_allergy], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Drug allergy', new_patient_drug_allergy_path(params[:patient_id]) %>
