<div id="<%= dom_id patient %>">
  <p>
    <strong>First name:</strong>
    <%= patient.first_name %>
  </p>


  <p>
    <strong>Last name:</strong>
    <%= patient.last_name %>
  </p>

  <p>
    <strong>National:</strong>
    <%= patient.national_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag(patient.image) if patient.image.attached? %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= patient.telephone %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= patient.gender %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= patient.doctor_id %>
  </p>

</div>


