<div class="container" id="<%= dom_id patient %>">
  <div class="patient-info d-flex justify-content-between">
    <div class="patient-image">
      <%= patient.image %>
    </div>
    <section class= "patient-name">
      <h4>Patient details </h4>
        <table class="table table-success table-striped table-bordered">
          <tbody>
            <tr>
              <th scope="row">First Name</th>
              <td><%= patient.first_name %></td>
            </tr>
            <tr>
              <th scope="row">Last Name</th>
              <td><%= patient.last_name %></td>
            </tr>
            <tr>
              <th scope="row">National ID</th>
              <td><%= patient.national_id %></td>
            </tr>
            <tr>
              <th scope="row">Telephone</th>
              <td><%= patient.telephone %></td>
            </tr>
            <tr>
              <th scope="row"> Gender</th>
              <td><%= patient.gender %></td>
            </tr>
          </tbody>
      </table>
  </section>
  <section class="patient-condition">

      <h4>Pre Existing Conditions</h4>
      <ul class="conditions-list">
        <% patient.pre_existing_conditions.each do |pre_existing_condition| %>
          <li>Diabetes:
          <% if pre_existing_condition.diabetes == true %>
            <button class="btn btn-danger px-3">Yes</button>
          <% else %>
            <button class="btn btn-success px-3">No</button>
          <% end %>
          </li>
          <li>Hypertension:
          <% if pre_existing_condition.hypertension == true %>
            <button class="btn btn-danger px-3">Yes</button>
          <% else %>
            <button class="btn btn-success px-3">No</button>
          <% end %>
          </li>
          <li>Asthma:
          <% if pre_existing_condition.asthma == true %>
            <button class="btn btn-danger px-3">Yes</button>
          <% else %>
            <button class="btn btn-success px-3">No</button>
          <% end %>
          </li>
        <% end %>
      </ul>
      <button class="btn btn-light"><%= link_to "Add pre existing condition" , new_patient_pre_existing_condition_path(@patient) %></button>

    <hr>

    <div class="patient-allergies">
    <section class="food-allergies">
      <h4 class="text-center">Allergies</h4>
          <table class="table table-striped">
            <tbody>
            <% if patient.food_allergies.length>0 %>
            <% patient.food_allergies.map do |food_allergy| %>
              <tr>
                <th scope="row">Food Allergy</th>
                <td><%= food_allergy.name %></td>
              </tr>
            <% end %>
            <% end %>
            </tbody>
          </table>
          <table class="table table-striped">
            <tbody>
            <% if patient.food_allergies.length>0 %>
              <% patient.drug_allergies.map do |drug_allergy| %>
                <tr>
                  <th scope="row">Drug Allergy</th>
                  <td><%= drug_allergy.name %></td>
                </tr>
                  <tr>
                    <th scope="row">No Drug Allergies</th>
                  </tr>
              <% end %>
              <% end %>
              <tr>
              <td><%= link_to "Add food allergy" , new_patient_food_allergy_path(@patient) %></td>
            </tbody>
          </table>
          <div>

</div>

    </section>
    </div>

  </section>
  </div>















</div>


