<div id="<%= dom_id patient %>">
  <p>
    <strong>First name:</strong>
    <%= patient.first_name %>
  </p>

  <h2>Pre Existing Conditions</h2>

  <% patient.pre_existing_conditions.map do |pre_existing_condition| %>
    <p>
      <strong>Diabetes</strong>
      <%= pre_existing_condition.diabetes %>
    </p>
    <p>
      <strong>asthma</strong>
      <%= pre_existing_condition.asthma %>
    </p>
    <p>
    <strong>hypertension</strong>
    <%= pre_existing_condition.hypertension %>
    <%= link_to "Edit", edit_patient_pre_existing_condition_path(patient, pre_existing_condition) %>
  </p>
  <% end %>


  <% if patient.food_allergies.length>0 %>
      <h2>Food Allergies</h2>

        <% patient.food_allergies.map do |food_allergy| %>
           <p>
            <strong>Name</strong>
            <%= food_allergy.name %>
        </p>
        <% end %>
    <% else %>
    <p>
      <strong>Food Allergies:</strong>
        None
    </p>
    <% end %>

    <% if patient.drug_allergies.length>0 %>
      <h2>Drug Allergies</h2>
        <% patient.drug_allergies.map do |drug_allergy| %>
          <p>
              <strong>Name</strong>
              <%= drug_allergy.name %>
          </p>
        <% end %>
    <% else %>
    <p>
      <strong>Drug Allergies:</strong>
        None
    </p>
    <% end %>

        <h2>Patient details </h2>
        

  <p>
    <strong>Last name:</strong>
    <%= patient.last_name %>
  </p>

  <p>
    <strong>National:</strong>
    <%= patient.national_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag(patient.image) if patient.image.attached? %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= patient.telephone %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= patient.gender %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= patient.doctor_id %>
  </p>

</div>


