<p style="color: green"><%= notice %></p>


<%= render @patient %>
<div class="patient-code">
  <p>
    <%= image_tag(@patient.qr_code) if @patient.qr_code.attached? %>
  </p>
</div>



<div>
  <%= link_to "Back to patients", patients_path %>


</div>



<div>
<%= link_to "Add food allergy" , new_patient_food_allergy_path(@patient) %>
</div>
<div>

<%= link_to "Add drug allergy" , new_patient_drug_allergy_path(@patient) %>
</div>
