
<%= form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>

  <div>
  <h2 class = "text-center" > Sign in to your account </h2>
  <p class="text-center" > Login to access your account </p>
  <div class = "form-group d-flex justify-content-center" >
    <div class="d-flex flex-column"
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control" %>
      </div>
  </div>

  <div class = "form-group d-flex justify-content-center" >
  <div class="d-flex flex-column"
    <%= f.label :password %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "password" , class: "form-control" %>
    </div>
</div>



  <div class="d-flex justify-content-center">
    <%= f.submit "Log in" , class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
<div class="d-flex justify-content-center">
<p class="line"></p> <p class="mt-3">or</p> <p class="line"></p>
</div>
<div class="d-flex justify-content-center">
   <p>You don't have an account? <%= link_to "Sign up", new_registration_path(resource_name) , class: "mx-2" %></p>
</div>