<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <% if doctor_signed_in? %> 
     <h2 class="navbar-brand" > Welcome , <%= current_doctor.name %> </h2>
    <% else %>
      <h2 class="navbar-brand"> Not a member ? <h2>
    <% end %>   

    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <% if doctor_signed_in? %>
        
             <li class="nav-item">
               <%= link_to "Patients", patients_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
               <%= link_to "Add a patient", new_patient_path, class: "nav-link" %>
            </li>
        <% else %>
           <li class="nav-item">
              <%= link_to "Sign up" , new_doctor_registration_path , class: "btn btn-outline-success mx-4"%>
            </li>
            <li class="nav-item">
               <%= link_to "Sign in" , new_doctor_session_path , class: "btn btn-outline-success"%>
            </li>
        <% end %>    


        
       </ul>
       <% !if doctor_signed_in? %>
      <form class="d-flex" role="search">
          <%= link_to "Sign Out", destroy_doctor_session_path , class: "btn btn-outline-danger" %>

      </form>
      <% end %>
      
    </div>
  </div>
</nav>