<!DOCTYPE html>
<html>
  <head>
    <title>Lifeline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if current_doctor %>
   <%= link_to "Sign Out", destroy_doctor_session_path %>
  <% end %>

  <%= yield %>
  </body>
</html>
